__pycache__
data
.ipynb_checkpoints
.venv
.vim
.git
models
data_processing/data/interim
data_processing/data/raw
data_processing/data/results
data_processing/data/processed/spaceeval_*
predictions.csv
optuna_database
content
paper
.mypy_cache
ger_wiki.egg-info/
poetry.lock
